:root {
    --clr-primary: #fff;
    --ff: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --fs-all: clamp(1rem, 7vh, 2rem);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: var(--ff);
}

#progress {
    position: fixed;
    top: 10;
    width: 0%;
    background: #f2d985;
    height: 5px;
    z-index: 1;

    animation: progress-bar auto linear;
    animation-timeline: scroll(root);
}

@keyframes progress-bar{
from {width: 0;}
to {width: 100%;}
}
/*Contenido principal*/
.main {
    background-color: #f1efed;
    color: #332941;
    width: 100%;
}





/*Encabezado*/
.header {
    --bg-header: hsl(0, 59%, 55%);

    display: flex;
    height: 60px;
    justify-content: space-between;
    background-color: var(--bg-header);
    align-items: center;
    padding-inline: 1.4rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__content {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header__logo-title {
    display: inline-block;
    color: var(--clr-primary);
    font-size: var(--fs-all);
    cursor: pointer;
}

/* .nav {
   
} */
/*Navegacion de la pagina*/
.nav__list {
    display: flex;
}

.nav__item {
    padding: 0;
}

.nav__link {
    padding: 5px 10px;
}

.nav__link_active {
    --clr-active: #fff;
    --bg-active: hsl(30, 100%, 50%);

    background-color: var(--bg-active);
    color: var(--clr-active);
}

.nav_hidden {
    display: none;
}

/*Section Hero*/

.hero {
    --bg-hero-s: hsl(184, 81%, 74%);

    padding: 3em;
    background-color: var(--bg-hero-s);
    line-height: 1.5;

    animation: mover 1s ease-in-out;
    
}

/*Título del hero*/
.hero__title {
    --fs: clamp(1rem, 7vh, 2rem);

    font-size: var(--fs);
}

/*Botón hero*/

.hero__btn {
    padding: 10px 12px;
    display: inline-block;
    margin-top: 10px;
    width: 120px;
    border: none;
    background-color: #0d3002;
    color: var(--clr-primary);
    position: relative;

    transition: background-color 0.5s ease;
}

.hero__btn:hover  {
    background-color: #c55959;
}

.hero__btn::before {
    content: "";
    position: absolute;
    height: 4px;
    width:0;
    top: 35px;
    left: 0;
    background-color: hwb(199 15% 1%);

    transition: width 0.3s ease;

}

.hero__btn:hover::before {
    width: 100%; /* Anima la anchura del pseudo-elemento al 100% */
}


@keyframes mover {
    0% {
        transform: translatex(-500px);
        opacity: 0;

    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translatex(0);
        opacity: 1;
    }
}

/*Secciones con estilos generales*/
.service,
.benefits {
    padding: 1em;
    line-height: 1.5;
}

.service__title,
.benefits__title {
    --fs-sb: clamp(1.2rem, 3vh, 2rem);

    font-size: var(--fs);
}

/*Estilos pertenecientes a Profile*/
.profile {
    --bg-profile: hsl(89, 100%, 86%);
    width: 100%;
    /* background-color:var(--bg-profile); */
    padding:  10px;

}

.profile__title {
    line-height: 1.3;
    padding: 1.3em 0;
}

.card__img-size-s {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    margin-inline: auto;

    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}

.profile__card {
    --bs: 0 2px 4px rgba(0, 0, 0, 0.1);
    --bg: #fff;

    /* padding: 1em 0; */
    max-width: 95%;
    
    height: auto;
    position: relative;
    box-shadow: var(--bs);
    background-color: var(--bg);
}

.card__title {
    color: #F28585;
}

.card::after {
    content: "";
    height: 100px;
    width: 100%;
    color: var(--bg);
    position: absolute;
    /* Lo posicionamos absolutamente dentro de la tarjeta */
    left: 0;
    bottom: -10px;
    /* La distancia de la sombra respecto a la parte inferior de la tarjeta */
    width: 100%;
    height: 10px;
    /* Altura de la sombra */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent);
    /* Degradado para la sombra */
    border-radius: 0 0 8px 8px;
    /* Asegúrarse de que la sombra tenga los mismos bordes redondeados que la tarjeta */
}


.card__presentacion {
    word-wrap: break-word;
    font-size: medium;
    line-height: 1.5;
    padding: 4em;
    background-color: #332941;
    color: var(--clr-primary);
}

.btn--ver-mas {
    --btn-bg: #F28585;
    --btn-clr: #fff;

    margin-top: 10px;
    padding: 10px;
    display: inline-block;
    width: 50%;
    border: none;
    background-color: var(--btn-bg);
    color: var(--btn-clr);
}

/*Diseños personalizados*/

.diseños h2 {
    margin-top: 10px;
    color: #231a1a;
    text-align: center;
}

.diseños__gallery {
    min-height: 100vh;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
    gap: 30px;
    padding: 3em 0;
}

.disenos__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}


@keyframes reveal {
    from {
        opacity: 0;
        translate: 0 100px;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}
.footer {
    background-color: #120808;
    padding: 2rem;
}

.footer__copyright {
    color: var(--clr-primary);
}

/*Media Queries */

@media screen and (width < 768px) {

    /*Media query para dispositivos moviles*/
    .header {
        position: relative;
        position: sticky;
        top: 0;
    }

    /* Estilo para mostrar el menú cuando la clase 'nav_hidden' no está presente */
    .nav:not(.nav_hidden) {
        display: block;
    }

    @keyframes slideDown {
        from {
            transform: translatex(-100%);
        }

        to {
            transform: translatex(0);
        }
    }

    .nav {
        --bg-nav: hsl(45, 100%, 95%);

        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--bg-nav);
        animation: slideDown 0.5s ease-in-out;
        z-index: 1001;
    }

    /* Estilo para mostrar el menú cuando la clase 'nav_hidden' no está presente */
    .nav:not(.nav_hidden) {
        display: block;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav__item {
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .nav__link {
        font-size: 24px;
    }

    .nav__link_active {
        background-color: transparent;
        color: hsl(30, 100%, 50%);
    }

    /*Botón del Menú Hamburguesa*/

    .menu-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 20px;
        cursor: pointer;

    }

    .profile__card {
        width: 100%;

    }

    .card__img img {
        max-width: 100%;
        height: 100%;
    }

    /*Estilos de las líneas del botón*/
    .menu-btn__line {
        width: 100%;
        height: 3px;
        /* Grosor de las líneas */
        background-color: #c4afaf;
        /* Color de las líneas */
        transition: all 0.3s ease;
        /* Transición para el efecto de animación */
    }

    /* Estilos para el efecto de animación cuando el botón se transforma en una X */
    .menu-btn.active .menu-btn__line:nth-child(1) {
        transform: translateY(2px) rotate(50deg);
        width: 20px;
        background-color: rgb(225, 216, 216);
    }

    .menu-btn.active .menu-btn__line:nth-child(2) {
        opacity: 0;
    }

    .menu-btn.active .menu-btn__line:nth-child(3) {
        transform: translateY(-12px) rotate(-50deg);
        width: 20px;
        background-color: rgb(242, 234, 234);
    }
}

@media screen and (width > 768px) and (width > 770px) {
    .header {
        background-color: #333;
        position: sticky;
        top: 0;
    }

    .header__content {
        display: flex;
        width: 1400px;
        margin-inline: auto;
        justify-content: space-around;
    }

    .menu-btn_hidden {
        display: none;
    }

    .nav {
        display: block;
    }

    .nav__link {
        --link-clr: #fff;

        color: var(--link-clr);
    }

    .hero_size_m {
        --bg-hero: hsl(90, 100%, 50%);

        padding: 13em;
        height: auto;
        text-align: center;
        background-color: var(--bg-hero);
    }

    .hero__parrafo-size-m {
        font-size: larger;
        word-wrap: break-word;
    }

    .hero__btn_size_m {
        --btn-hero: hsl(0, 81%, 74%);

        background-color: var(--btn-hero);
        padding: 12px 14px;
        margin-top: 20px;
        width: 120px;
        border: none;
        color: #fff;
    }

    .hero__btn_size_m:hover {
        background-color: #c4afaf;
    }
    .profile {
        padding: 0;
    }
    .profile__title {
        text-align: center;
        font-size: 32px;
    }

    .wrapper-section {
        display: flex;
        background-color: #ffffffa9;
    }

    .benefits {

        color: #120808;
    }

    .card {
        padding: 1em;
        max-width: 100%;
        height: auto;
        position: relative;

        display: flex;
    }

    .card__img-size-m {
        border-radius: 0;
        height: auto;
        width: 400px;

    }

    .card__presentacion-size-m {
        line-height: 1.5;
        padding: 4em;

    }

    .diseños__gallery-sm {
        grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
        gap: 10px;
        padding: 2em;
    }

    .diseños__title-s-m {
        text-align: center;
        font-size: 32px;
    }

   
}


@media screen and (width > 1080px) and (width > 1200px) {

    .header {
        background-color: #333;
    }

    .header__content {
        display: flex;
        width: 1400px;
        margin-inline: auto;
        justify-content: space-around;
    }

    .nav__link {
        color: #fff;
    }

    /*Contenido principal*/
    .hero_size_m {
        background-color: #85ebf2;
        /* padding: 120px; */
        text-align: center;
    }

    /*Seccion hero */
    .hero__title-s-m,
    .hero__parrafo-size-m {
        color: #180e0e;
        line-height: 1.8;
    }

    .hero__title-s-m {
        font-size: 42px;
    }

    .hero__parrafo-size-m {
        font-size: 25px;
    }

    .hero__btn_size_m {
        padding: 10px;
        margin-top: 20px;
        width: 20%;
        border: none;
    }

    /*Estilos pertencientes a perfil*/
    .profile__card {
        width: 800px;
        margin-inline: auto;
    }

    .profile__title {
        text-align: center;
        font-size: xx-large;
    }

    .card {
        padding: 1em;
        max-width: 100%;
        height: auto;
        position: relative;
        display: flex;
    }

    .card__img-size-m {
        border-radius: 0;
        height: 100%;
        max-width: 100%;
    }

    .card__presentacion-size-m {
        line-height: 1.5;
        padding: 4em;
        width: 400px;
        height: auto;

    }

    .card__description {
        --fs-m: clamp(1rem, 4vh, 1.4rem);

        font-size: var(--fs-m)
    }

    /*Contenedor que envuelve a service y benefits*/
    .wrapper-section {
        display: flex;
        padding: 3em;
    }

    .service__item,
    .benefits__item {
        font-size: 18px;
    }

}

@media screen and (width >=1400px) {

    .header {
        background-color: #333;
    }

    .header__content {
        display: flex;
        width: 1400px;
        margin-inline: auto;
        justify-content: space-around;
    }

    .hero_size_xl {
        background-image: url(img/heroimage\ \(2\).jpg);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 50vh;
    }

    .hero_size_xl,
    .wrapper-section,
    .profile,
    .diseños {
        padding: 14em;
        max-width: 1400px;
        margin-inline: auto;
    }

     .wrapper-section{
         gap: 10px;
     }


    .service,
    .benefits {
        height: auto;
        padding: 3rem;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 rgba(0, 0, 0, 0.1);
    }

    .hero__title {
        font-size: 45px;
    }

    .card {
        width: 1200px;
    }


    .card__img {
        width: 550px;
        height: 550px;
    }

    .card__img-size-xl {
        width: 100%;
        height: 100%;
    }

    .card__presentacion-size-xl {
        padding: 8em;
        transition: background-color 0.2s ease;
    }

    .card__name-size_xl {
        font-size: 32px;
    }

    .card__presentacion-size-xl:hover {
        background-color: #332941;
        color: var(--clr-primary);
    }

    .card__description-size-xl {
        --fs-xl: clamp(1rem, 4vh, 1.4rem);

        font-size: var(--fs-xl)
    }

    .btn--ver-mas-xl {
        display: inline-block;
        margin-top: 40px;
        width: 100%;
        padding: 15px;
        font-size: 18px;
        transition: all 0.4s ease-in;
    }

    .btn--ver-mas-xl:hover {
        background-color: #c55959;
    }

}